@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap'); 


html{ 

/* -----Custom properties----*/ 

/* Background Colours*/ 

--color1: rgba(215, 231, 240, 1); 

/*foreground colours*/ 
--color2: rgba(0, 101, 164, 1); 
--color3: rgba(113, 208, 246, 1); 
--color4: rgba(0, 178, 89, 1); 
--color5: rgba(255,255,255);

 
/*Fonts*/ 
--font1: Roboto;
--font2: Slab;  
} 

body { 
    margin: 0; 
    font: var(--font1, --font2); 
    background-color: var(--color2);
    color: var(--color5);
    line-height: 1;

} 


.container{
    width: 100%;
    display: grid;  
    grid-gap: .5em;
    grid-template-columns: repeat(2fr 1fr 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-rows: minmax(2em, auto);
}

.container .image{
    grid-column: 1;
    grid-row: 1;
}



.container .search{
    margin: 1em;
    grid-column: 2/3;
    grid-row:1;
    max-height: 2em;
    grid-column: 2/span all; 
    grid-row: 1;
    
  
}
.container .search .searching{
    font-size: 1em;
}
 

.container .fa {
    color: black;
    font-size: 1.5em;
    padding: 0 0 0 .2em;

   
}

.container .hamburguermenu{
    margin: 1em;
    grid-column: 4;
    grid-row: 1;
    max-height: 2em;
  
  
}

.container .title{
    color: var(--color5); 
    text-transform: uppercase; 
    text-align: center;
    font-size: 2.5em; 
    grid-column: 2/span 3;
    grid-row: 1;
    padding: 1.5em 1em .5em 1em;

}

nav ul{
    grid-row: 2;  
    text-align: center;
    padding: 0 0 0 20.5em;
}
nav ul li {
    display: inline;
    font-size: 2.5em;
    list-style: none;
    padding: 1em;

}

a{}

.schoollogo { 
    width: 15em; 
    height: auto; 
   
   
} 

.main { 
    width: 100%; 
    height: auto; 

} 


.main .apply{
	background-color: var(--color3);
    padding: 1em;
    border: 1em;
    float: left;


}

.overview{
    background-color: var(--color5);
    color:var(--color2);
    padding: 1em 1em 1em 1em;


}


.links ul{
	list-style: none;
	display: flex; 
}
.links li{
	text-align: center; 
    flex-grow: 1;
}


.socialmedia ul{ 
    display: flex; 
    list-style: none; 
    justify-content: flex-end; 
} 

/* for mobile phones*/
 @media (max-width:320px){ 


} 


 